body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

}
body.loading #main-ui {
    opacity: 0.5;
}

#main-ui {
    position: absolute;
    top: 0; left: 0; bottom: 2px; right: 2px;
    margin: 0; padding: 0;
}
#main-ui .header {
    margin: 0; padding: 0;
    position: absolute; 
    left: 0; top: 0; right: 0; height: 3em;
    background: #ddd;
}
#main-ui .header h1 {
    margin: 0; padding: 0.3em;
    font-size: 1.75em;
}
#main-ui ul {
    margin: 0; padding: 0;
    list-style-type: none; 
    text-indent: none; 
}
#main-ui .search {
    position: absolute;
    left: 0; top: 3em; right: 0; height: 3em;
    margin: 0; padding: 0;
}
#main-ui .search input {
    display: block;
    width: 100%; height: 100%;
    font-size: 1.125em;
    padding: 0.25em; margin: 0;
    border: 1px solid #ccc;
    background: #f9f9f9;
}
#main-ui .notes {
    margin: 0; padding: 0;
    position: absolute; 
    left: 0; top: 6em; right: 75%; bottom: 0;
}
#main-ui .notes select {
    display: block; 
    width: 100%; height: 100%;
    font-size: 1.15em;
    padding: 0.25em; margin: 0;
    border: none;
    background: #f2f2f2;
}
#main-ui .note { 
    margin: 0; padding: 0;
    position: absolute; 
    left: 25%; top: 6em; right: 0; bottom: 0;
}
#main-ui .note textarea {
    display: block; 
    width: 100%; height: 100%;
    font: 1.25em arial;
    padding: 0.25em; margin: 0;
    border: none;
}

@media screen and (max-width: 720px) {
    #main-ui .header {
        height: 2em;
    }
    #main-ui .header h1 {
        font-size: 1.25em;
    }
    #main-ui .search {
        top: 2em; height: 2em;
    }
    #main-ui .notes {
        left: 0; top: 4em; right: 0; height: 12em;
    }
    #main-ui .note { 
        left: 0; top: 16em; right: 0; bottom: 0;
    }
}

@media screen and (max-width: 720px) and (max-height: 600px) {
    #main-ui .notes {
        left: 0; top: 4em; right: 0; bottom: 0; height: auto;
    }
    #main-ui .note {
        left: 0; top: 8.75em; right: 0; bottom: 0;
    }
    #main-ui .note { 
        display: none;
    }
    #main-ui.editing .note { 
        display: block;
        left: 0; top: 4em; right: 0; bottom: 0;
    }
}
