form ul { margin: 0; padding: 0; list-style-type: none; text-indent: none; }
form ul li { }

body.loading #main-ui { opacity: 0.5; }

#main-ui { position: relative; }
#main-ui { width: 750px; }
#main-ui .search { display: block; width: 100%; padding: 0.25em; }
#main-ui .notes { display: block; width: 100%; height: 10em; padding: 0.25em; }
#main-ui .note { display: block; width: 100%; padding: 0.25em; }
